*{
    user-select: none;
}
.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}
.info{
    width: 250px;;
    height: 250px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    border: 2px;
    border-color: gold;
    border-style: solid;
}
.two{
    background-image: url(../img/Img0-ymy.jpg);
    background-size: 100% 100%;
}
.arrow{
    background-image: url(../img/arrow.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;;
    float: left;
}
.there{
    height: 520px;
    width: 250px;
    font-size: 7px;
}
.number{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    font-size: 75px;
    font-weight: 500;
    text-align: center;
}
.one{
    background-image: url(../img/0-ymy.png);
    background-size: 100% 100%;
}
.content{
    width: 1179px;
    height: 100%;
    display: flex;
    margin-top: 15px;
    padding: 10px;
    border: 1px;
    border-color: purple;
    border-style: solid;
    justify-content: center;
    align-items: center;
}
.bt{
    position: relative;
    width: 150px;
    height: 40px;
    border: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transform : translateY(7px);
    margin-left: 30px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.upper{
    width: 1179px;
    height: 56px;;
}
a{
    text-decoration: none;
    color: black;
}